@use "base";


.about {
    width: 100%;

    .el-card {
        margin-bottom: 36px;
    }

    .title {
        text-align: left;
        margin: 20px auto 30px;
    }
}

.about-head-img {
    margin-bottom: 30px;

    img {
        min-height: 200px;
    }
}

