@use "base";

.archive {
    width: 100%;
}

.archive-list {

}

.archive-solid {
    content: "";
    z-index: 4;
    position: absolute;
    left: -27px;
    top: calc(50% - 6px);
    width: 6px;
    height: 6px;
    background: #FFF;
    border: 3px solid #49b1f5;
    border-radius: 6px;
    transition: all 0.2s ease-in-out;
}

.archive-list-title {
    position: relative;
    text-align: left;
    font-size: 1.74em;
    margin: 20px 0 0 10px;
    padding-left: 20px;
    height: 80px;
    display: flex;
    align-items: center;

    &:hover:before {
        border-color: coral;
    }

    &:before {
        @extend .archive-solid;
        left: -9px;
        width: 10px;
        height: 10px;
        border: 5px solid #49b1f5;
        border-radius: 10px;
    }

    &:after {
        content: "";
        z-index: 3;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 2px;
        height: calc(50%);
        background: #aadafa;
    }
}

.archive-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
    padding-left: 20px;
    border-left: 2px solid #aadafa;
}

.archive-year, .archive-info {
    position: relative;
    padding-left: 10px;
    margin: 30px 0 10px;

    &:before {
        @extend .archive-solid;
        border-color: coral;
    }
}

.archive-info {
    &:hover:before {
        border-color: coral;
    }

    &:before {
        @extend .archive-solid;
        border-color: #49b1f5;
    }
}

.archive-year {
    .year-title {
        display: block;
        line-height: 2;
        font-size: 1.42em;
    }
}


.archive-item-main {
    display: flex;
    align-items: center;

    .item-image {
        position: relative;
        padding: 40px;
        margin-right: 10px;
    }

    .el-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        img {
            transition: transform 0.5s;

            &:hover {
                cursor: pointer;
                transform: scale(1.1);
            }
        }
    }


    .item-date {
        display: flex;
        align-items: center;
        line-height: 2;
        font-size: 95%;
        color: #858585;

        span {
            margin-left: 6px;
        }
    }

    .item-title {
        color: #000000;
        display: flex;
        line-height: 2;
        font-size: 1.04em;
        text-decoration: none;
        transition: all 0.2s ease-in-out;

        &:hover {
            cursor: pointer;
            color: #49b1f5;
            transform: translateX(20px);
        }
    }
}

.archive-pagination {
    margin-top: 30px;
    justify-content: center;
}
