//SakuraEffect Begin
.sakura-effect {
    top: 0;
    left: 0;
    z-index: 999;
    position: fixed;
    pointer-events: none;
}

//SakuraEffect End


//tinymce Begin
.tox .tox-tbtn svg {
    width: auto;
    height: auto;
    stroke: none;
    stroke-width: 0;
}

.tox-tinymce-aux {
    z-index: 1111130 !important;
}

.tox .tox-menu {
    z-index: 1111050 !important;
}

.tox .tox-statusbar__branding svg {
    stroke: none;
    stroke-width: 0;
}

//tinymce End


//Card Comment Begin
.card {
    border-radius: 14px;
    border: 1px solid #EBEEF5;
    background-color: #FFF;
    overflow: hidden;
    color: #303133;
    box-shadow: 0 6px 12px 0 #a8aba3;
    box-sizing: border-box;
    transition: transform .25s, box-shadow .25s, -webkit-transform .25s, -webkit-box-shadow .25s;
}

.card:hover {
    box-shadow: 0 3px 8px 0 #dbddd8;
    transform: translateY(15px);
}

//Card Comment End

.editor {
    width: 100%;
}


//CommentArea Comment Begin
.comment-area {
    width: 100%;

    > .comment-area-header {
        margin-bottom: 30px;

        &:nth-child(2) {
            cursor: pointer;
        }
    }

    .el-dialog {
        .el-dialog__header {
            text-align: initial;
        }
    }
}

.comment-area-ul {
    height: calc((100vh - var(--el-dialog-margin-top) - 50px) - 144px) overflow auto;
    margin: 0;
    padding-left: 6px;
    list-style-type: none;

    li {
        margin-bottom: 20px;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: #efefef;
    }

    li:nth-child(1) {
        margin-bottom: 30px;
        border-bottom-width: 10px;
        border-bottom-style: solid;
    }

    li:nth-child(2):before {
        content: "全部评论";
        display: flex;
        font-size: 16px;
        line-height: initial;
        padding-left: 10px;
        margin-bottom: 20px;
    }
}

.comment-area-header {
    display: flex;
    align-items: center;
    line-height: 2;

    svg {
        width: 20px;
        height: 20px;
        margin-right: 6px;
    }

    span {
        font-size: 1.2em;
        font-weight: bold;
    }
}

.comment-area-info {
    form {
        display: flex;
        justify-content: space-around;
    }

    .el-form-item {
        margin-right: 0;
    }
}

.comment-area-submit {
    display: flex;
    flex-direction: row-reverse;
    margin: 20px auto;

    > .el-button {
        margin-left: 10px;
        background: linear-gradient(45deg, rgb(68, 139, 255), rgb(68, 233, 255)) rgb(68, 139, 255);

        &:hover {
            opacity: 0.8;
        }
    }
}

.comment-area-number {
    display: flex;
    font-size: 1.1em;
    line-height: 2;
    margin: 20px auto;
    color: #727272;
}

//CommentArea Comment End


//Comment Comment Begin
.comment {
    padding: 0 10px;
    margin: 10px 0;

    > div {
        width: auto;
        margin-bottom: 20px;
    }

}

.comment-item {
    display: flex;
}

.comment-avatar {
    width: var(--comment-avatar-size) height var(--comment-avatar-size);

    &:hover {
        cursor: pointer;
    }
}

.comment-editor {

}

.comment-left {
    width: calc(100% - var(--comment-avatar-size) - 20px);
    margin-left: 20px;
}

.comment-header {
    margin-bottom: 20px;

    .user-name {
        font-weight: bold;
    }

    .blogger {
        color: #0afdf8;
        border: 1px solid #0afdf8;
        background-color: #0AFDF81E;
        padding: 0 4px;
    }

    .user-reply {
        color: #b5b5b5;
    }

    > div {
        line-height: 1.5;
        display: flex;
        align-items: center;

        span {
            margin-right: 8px;
        }
    }
}

.comment-main {
    margin-bottom: 20px;
    text-align: initial;
    word-wrap: break-word;
    overflow: auto;
}

.comment-bottom {
    display: flex;
    flex-direction: row-reverse;

    svg {
        width: 20px;
        height: 20px;
        margin-left: 6px;
        transition: all 0.3s;

        &:hover {
            cursor: pointer;
            color: #3ad8e7;
        }
    }
}


.comment-reply {
    padding-left: calc(var(--comment-avatar-size) + 20px);
}

.comment-reply-background {
    background: #f7f8fc;
    padding: 16px 0 4px;
}

//Comment Comment End


//TagCloud Begin
.tag-cloud-all {
    position: relative;
    height: 230px;

    a {
        position: absolute;
        top: 0;
        left: 0;
        color: #fff;
        font-weight: bold;
        text-decoration: none;
        padding: 3px 6px;

        &:hover {
            color: #FF0000;
            letter-spacing: 2px;
        }
    }
}

//TagCloud End


//ArticleSimpleView Begin
.article-simple-view {
    width: 100%;
    height: auto;
    display: flex;
}

.article-simple-view-item {
    position: relative;
    width: 100%;
    height: auto;

    .el-image {
        width: 100%;
        height: 100%;
        padding: 0;
        filter: brightness(60%); //使图片颜色变暗

        img {
            transition: all 0.3s;
        }
    }

    &:hover {
        cursor: pointer;

        img {
            transform: scale(1.1);
        }
    }
}

.article-simple-view-item-content {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    padding: 0;
    transform: translate(0, -50%);
}

//ArticleSimpleView End
