@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    [theme='light'] {
        --theme: light;
    }

    [theme='dark'] {
        --theme: dark;
    }

    :root {
        --comment-padding-width: 60px;
        --avatar-size: 40px;
        --circle-radius: 6px;
        --line-width: 2px;
    }

    ::before {
        @apply tw-box-content;
    }

    /* 滚动条整体样式 */
    ::-webkit-scrollbar {
        @apply tw-w-1.5 tw-h-1.5;
    }

    /* 滚动条里的轨道：滚动槽 */
    ::-webkit-scrollbar-track {
        @apply tw-rounded-xl;
    }

    /* 滚动条里的小方块：滑块 */
    ::-webkit-scrollbar-thumb {
        @apply tw-rounded-xl;
        background: #0EDEEE99;
    }

    ::-webkit-scrollbar-thumb:window-inactive {
        background: #C730F299;
    }

    body {
        @apply tw-font-mono tw-m-0 tw-p-0 tw-text-center tw-antialiased;
        font-size: 15px;
    }

    h1 {
        font-size: revert;
    }

    svg {
        @apply tw-inline-block tw-stroke-2 tw-stroke-current tw-fill-current;
    }
}

@layer utilities {

    .image-scale {
        img {
            @apply tw-transition-all tw-duration-300;
        }

        &:hover {
            img {
                @apply tw-scale-110;
            }
        }
    }

    .animate-load {
        animation: n-loading-image 1s linear infinite;
    }

    @keyframes n-loading-image {
        from {
            transform: rotate(0);
        }
        to {
            transform: rotate(360deg);
        }
    }

    .animate-twinkle {
        animation: twinkle 4s linear infinite;
    }

    @keyframes twinkle {
        from, to {
            color: rgba(255, 41, 255, 0.75);
        }
        50% {
            color: rgba(32, 252, 213, 0.75);
        }
    }

    .scrollbar-hidden {
        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }
    }

    .transition-right {
        transition: all 0.2s ease-in-out;

        &:hover {
            cursor: pointer;
            transform: translateX(20px);
        }
    }

    .content-circle {
        @apply tw-absolute tw-top-0 tw-bottom-0 tw-m-auto tw-bg-white;
        content: "";
        z-index: 4;
        left: calc(var(--circle-radius) * -1);
        width: var(--circle-radius);
        height: var(--circle-radius);
        border: calc(var(--circle-radius) / 2) solid #49b1f5;
        border-radius: var(--circle-radius);
        transition: all 0.2s ease-in-out;

        &:hover {
            @apply tw-border-orange-600;
        }
    }

    .content-line {
        @apply tw-absolute tw-h-full tw-bottom-0 tw-bg-blue-300;
        z-index: 3;
        left: calc(var(--line-width) / -2);
        width: var(--line-width);
    }

    .bg-gradient-cyan-blue {
        @apply tw-bg-gradient-to-r tw-from-cyan-500 tw-to-blue-500;
    }
}

@layer components {
    .tag-cloud {
        height: 14.5rem;

        a {
            @apply tw-absolute tw-font-bold;
            text-decoration: none;
            padding: 3px 6px;
        }
    }

    .image-min-200 {
        img {
            min-height: 200px;
        }
    }

    .text-gradient { /*文字渐变*/
        @apply tw-inline-block tw-text-transparent;
        background: linear-gradient(0.25turn, #c21500, #33a8fb, #51ff00);
        -webkit-background-clip: text;
    }

    /*多行显示*/
    .multiple-lines-show {
        /*文字超过两行或三行就显示省略号*/
        @apply tw-truncate tw-whitespace-normal;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }

    .star {
        @apply tw-inline-block tw-items-center;

        svg {
            @apply tw-stroke-0 tw-mr-1;
        }

        span {
            @apply tw-mr-1;
        }
    }

    .card { /*卡片*/
        @apply tw-border tw-border-solid tw-rounded-xl tw-border-slate-200 tw-overflow-hidden tw-bg-white tw-text-zinc-800 tw-shadow-xl tw-box-border tw-transition-all;

        &:hover {
            @apply tw-translate-y-3.5 tw-shadow-md;
        }
    }

    .blogger {
        @apply tw-px-1;
        color: #0afdf8;
        border: 1px solid #0afdf8;
        background-color: #0AFDF81E;
    }

    .user-avatar {
        @apply tw-absolute tw-inset-0;
        width: 100% !important;
        height: 100% !important;

        img {
            @apply tw-w-full tw-h-full;
        }
    }

    .comment {
        position: relative;
        padding: 10px 10px 10px var(--comment-padding-width);
    }

    .comment-avatar {
        @apply tw-absolute tw-cursor-pointer;
        padding: calc(var(--avatar-size) / 2);
        top: calc(10px + (40px - var(--avatar-size)) / 2);
        left: calc(var(--comment-padding-width) - 10px - var(--avatar-size));
    }

    .comment-reply {
        --comment-padding-width: 40px;
        --avatar-size: 30px;
    }

    .user-form-info {
        @media screen and (min-width: 710px) {
            @apply tw-grid-cols-4;
        }
        @media screen and (min-width: 400px) and (max-width: 710px) {
            @apply tw-grid-cols-2;
        }
        @media screen and (max-width: 400px) {
            @apply tw-grid-cols-1;
        }

        .el-form-item {
            margin: 0 !important;
        }
    }

    .tinymce-content { /* tinymce 内容 */
        @apply tw-overflow-auto;
        text-align: initial;
        word-wrap: break-word;

        img { /* 评论中的图片样式 */
            @apply tw-w-full tw-h-auto;
        }
    }

    .article-info {
        @apply tw-flex tw-items-center tw-mr-5 tw-text-gray-400;

        svg {
            @apply tw-mr-1.5;
        }
    }

    .el-img-400 {
        @apply tw-w-full;

        img {
            max-height: 400px;
        }
    }

    .blog-info {
        @apply tw-opacity-80 tw-flex tw-items-center tw-p-4 tw-justify-between;

        .label {
            @apply tw-flex tw-items-center tw-text-gray-500;
        }

        .data {
            @apply tw-text-white tw-text-xs tw-py-0.5 tw-px-2 tw-rounded-xl;
        }
    }


    .menu-style {
        .el-menu-item, .el-sub-menu__title {
            @apply tw-pr-0 tw-h-10;

            svg {
                @apply tw-mr-4;
            }

            p {
                font-size: 15px;
            }
        }
    }

    .content-width {
        width: 80%;
        @media (min-width: 640px) {
            width: 580px;
        }
        @media (min-width: 768px) {
            width: 720px;
        }
        @media (min-width: 1024px) {
            width: 960px;
        }
        @media (min-width: 1280px) {
            width: 1180px;
        }
        @media (min-width: 1536px) {
            width: 1350px;
        }
    }
}


.q-item {
    min-height: 2.5rem;
}

.q-timeline__dot:before {
    left: -2px;
}

.rounded-borders {
    @apply tw-rounded-full;

    .q-linear-progress__model {
        @apply tw-rounded-full;
    }
}


.tox .tox-tbtn svg {
    width: auto;
    height: auto;
    stroke: none;
    stroke-width: 0;
}

.tox-tinymce-aux {
    z-index: 1111130 !important;
}

.tox .tox-menu {
    z-index: 1111050 !important;
}

.tox .tox-statusbar__branding svg {
    stroke: none;
    stroke-width: 0;
}
