@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    [theme='light'] {
        --theme: light;
    }

    [theme='dark'] {
        --theme: dark;
    }

    :root {
        --comment-padding-width: 60px;
        --avatar-size: 40px;
        --circle-radius: 6px;
        --line-width: 2px;
    }

    ::before {
        @apply tw-box-content;
    }

    /* 滚动条整体样式 */
    ::-webkit-scrollbar {
        @apply tw-w-1.5 tw-h-1.5;
    }

    /* 滚动条里的轨道：滚动槽 */
    ::-webkit-scrollbar-track {
        @apply tw-rounded-xl;
    }

    /* 滚动条里的小方块：滑块 */
    ::-webkit-scrollbar-thumb {
        @apply tw-rounded-xl;
        background: #0EDEEE99;
    }

    ::-webkit-scrollbar-thumb:window-inactive {
        background: #C730F299;
    }

    body {
        @apply tw-font-mono tw-m-0 tw-p-0 tw-text-center tw-antialiased;
        font-size: 15px;
    }

    h1 {
        font-size: revert;
    }

    svg {
        @apply tw-inline-block tw-stroke-2 tw-stroke-current tw-fill-current;
    }
}

@layer utilities {

    .image-scale {
        img {
            @apply tw-transition-all tw-duration-300;
        }

        &:hover {
            img {
                @apply tw-scale-110;
            }
        }
    }

    .scrollbar-hidden {
        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }
    }
}

@layer components {

}


.q-item {
    min-height: 2.5rem;
}

.q-timeline__dot:before {
    left: -2px;
}

.rounded-borders {
    @apply tw-rounded-full;

    .q-linear-progress__model {
        @apply tw-rounded-full;
    }
}

