/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --comment-padding-width: 60px;
        --avatar-size: 40px;
        --circle-radius: 6px;
        --line-width: 2px;
    }

    ::before {
        @apply tw-box-content;
    }

    /* 滚动条整体样式 */
    ::-webkit-scrollbar {
        @apply tw-w-1.5 tw-h-1.5;
    }

    /* 滚动条里的轨道：滚动槽 */
    ::-webkit-scrollbar-track {
        @apply tw-rounded-xl;
    }

    /* 滚动条里的小方块：滑块 */
    ::-webkit-scrollbar-thumb {
        @apply tw-rounded-xl;
        background: #0edeee99;

        &:window-inactive {
            background: #c730f299;
        }
    }

    * {
        user-select: none;
    }

    body {
        @apply tw-font-mono tw-m-0 tw-p-0 tw-text-center tw-antialiased;
        font-size: 15px;
    }

    h1 {
        font-size: revert;
    }

    svg {
        @apply tw-inline-block tw-stroke-2 tw-stroke-current tw-fill-current;
    }

    .tw-break-words {
        word-break: break-word;
    }
}

@layer utilities {

    .image-scale {
        img {
            @apply tw-transition-all tw-duration-300;
        }

        &:hover {
            img {
                @apply tw-scale-110;
            }
        }
    }

    .scrollbar-hidden {
        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }
    }

    .title-font {
        @apply tw-text-3xl tw-font-bold tw-text-gray-600 dark:tw-text-gray-100;
    }
}

@layer components {
    .loader_cog {
        @apply tw-relative tw-origin-center;

        div {
            &:nth-of-type(1) {
                @apply tw-rotate-30;
            }

            &:nth-of-type(2) {
                @apply tw-rotate-60;
            }

            &:nth-of-type(3) {
                @apply tw-rotate-90;
            }
        }

        #{&}_part {
            @apply tw-absolute tw-inset-0 tw-rounded-lg;
        }

        #{&}_hole {
            @apply tw-absolute tw-inset-0 tw-m-auto tw-rounded-full tw-bg-white;
        }
    }

    .loader {
        font-family: "Montserrat", sans-serif;
        @apply tw-relative tw-w-80 tw-h-80 tw-m-auto tw-text-center tw-overflow-hidden;

        p {
            @apply tw-m-auto tw-text-base;
        }

        .loader_overlay {
            box-shadow: 0 0 0 62.5rem #ffffff00, 0 0 1.1875rem 0 #00000028 inset;
            @apply tw-w-40 tw-h-40 tw-absolute tw-inset-0 tw-bg-transparent tw-rounded-full tw-z-10 tw-m-auto
        }

        .loader_cogs {
            @apply tw-absolute tw-m-auto tw-left-1/2 tw-bottom-0 -tw-translate-x-1/2 tw-z-20;
        }

        .loader_cog__top {
            animation: rotate 10s infinite linear;
            @apply tw-w-24 tw-h-24;
            @extend .loader_cog;

            .loader_cog_part {
                background: #f98db9;
            }

            .loader_cog_hole {
                @apply tw-w-12 tw-h-12;
            }
        }

        .loader_cog__left {
            animation: rotate_left 10s 0.1s infinite reverse linear;
            @apply tw-w-20 tw-h-20 tw-top-7 -tw-left-6;
            @extend .loader_cog;

            .loader_cog_part {
                background: #97ddff;
                @apply tw-rounded-md;
            }

            .loader_cog_hole {
                @apply tw-w-9 tw-h-9;
            }
        }

        .loader_cog__bottom {
            animation: rotate_left 10.2s 0.4s infinite linear;
            @apply tw-w-16 tw-h-16 tw-left-20 -tw-top-16;
            @extend .loader_cog;

            .loader_cog_part {
                background: #ffcd66;
                @apply tw-rounded;
            }

            .loader_cog_hole {
                @apply tw-w-6 tw-h-6;
            }
        }
    }
}


.q-item {
    min-height: 2.5rem;
}

.q-timeline__dot:before {
    left: -2px;
}

.rounded-borders {
    @apply tw-rounded-full;

    .q-linear-progress__model {
        @apply tw-rounded-full;
    }
}

.q-page-sticky--shrink {
    @apply tw-z-50;
}

.q-toggle {
    --q-track: initial;

    .q-toggle__inner--falsy {
        color: var(--q-track);

        .q-toggle__track {
            opacity: .54;
        }
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotate_left {
    from {
        transform: rotate(16deg);
    }
    to {
        transform: rotate(376deg);
    }
}

@keyframes rotate_right {
    from {
        transform: rotate(4deg);
    }
    to {
        transform: rotate(364deg);
    }
}
